<%- include('partials/header'); %>

<head>
    <title>Index</title>
</head>

<h2>This is EJS home page</h2>
<p>We are learning ejs - its a templating engine for express JS</p>
<p> EJS makes its easier to use dynamic data inside static files </p>
<p>This profile is for  <%= name %> </p>
<p> The home twn state is: <%= state %>
</p>

<%- include('partials/footer'); %>